What country saw the biggest 5 year change in net migration?
Which country saw the biggest swing in net migration from 1962 to 2017?
What economic indicators drive immigration or emigration?
Which continents see the most immigration or emigration?

In [2]:
import pandas as pd

net_migration = pd.read_csv('net-migration-data.csv')
net_migration.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Net migration,SM.POP.NETM,NaN,NaN,-4323.0,NaN,NaN,NaN,...,NaN,1253.0,NaN,NaN,NaN,NaN,1004.0,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Net migration,SM.POP.NETM,NaN,NaN,-359577.0,NaN,NaN,NaN,...,NaN,-1411932.0,NaN,NaN,NaN,NaN,-791282.0,NaN,NaN,NaN
2,Afghanistan,AFG,Net migration,SM.POP.NETM,NaN,NaN,-20000.0,NaN,NaN,NaN,...,NaN,521769.0,NaN,NaN,NaN,NaN,-314602.0,NaN,NaN,NaN
3,Africa Western and Central,AFW,Net migration,SM.POP.NETM,NaN,NaN,-37334.0,NaN,NaN,NaN,...,NaN,-1601832.0,NaN,NaN,NaN,NaN,-1022839.0,NaN,NaN,NaN
4,Angola,AGO,Net migration,SM.POP.NETM,NaN,NaN,-296717.0,NaN,NaN,NaN,...,NaN,166267.0,NaN,NaN,NaN,NaN,32066.0,NaN,NaN,NaN

In [3]:
    cleaner_migration = net_migration[['Country Name', 'Country Code', '1962', '1967', '1972', '1977', '1982', '1987', '1992', '1997', '2002', '2007', '2012', '2017']]
cleaner_migration.head()

,Country Name,Country Code,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007,2012,2017
0,Aruba,ABW,-4323.0,-4275.0,-3537.0,-5470.0,-1921.0,-5194.0,14218.0,6926.0,6263.0,-441.0,1253.0,1004.0
1,Africa Eastern and Southern,AFE,-359577.0,-335328.0,-200538.0,-231967.0,-503155.0,-147864.0,659027.0,-1213946.0,-953560.0,-1447652.0,-1411932.0,-791282.0
2,Afghanistan,AFG,-20000.0,-20000.0,-20000.0,-1153959.0,-3345095.0,-1525351.0,3076383.0,-867540.0,744193.0,-1046361.0,521769.0,-314602.0
3,Africa Western and Central,AFW,-37334.0,-147514.0,-363932.0,-356637.0,-1006772.0,-1060093.0,-1102377.0,-299835.0,-536494.0,-852471.0,-1601832.0,-1022839.0
4,Angola,AGO,-296717.0,-587286.0,199800.0,199800.0,234148.0,188491.0,142812.0,199800.0,261100.0,357301.0,166267.0,32066.0

In [4]:
#cleaner_migration.info()
cleaner_migration = cleaner_migration.dropna()
cleaner_migration

,Country Name,Country Code,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007,2012,2017
0,Aruba,ABW,-4323.0,-4275.0,-3537.0,-5470.0,-1921.0,-5194.0,14218.0,6926.0,6263.0,-441.0,1253.0,1004.0
1,Africa Eastern and Southern,AFE,-359577.0,-335328.0,-200538.0,-231967.0,-503155.0,-147864.0,659027.0,-1213946.0,-953560.0,-1447652.0,-1411932.0,-791282.0
2,Afghanistan,AFG,-20000.0,-20000.0,-20000.0,-1153959.0,-3345095.0,-1525351.0,3076383.0,-867540.0,744193.0,-1046361.0,521769.0,-314602.0
3,Africa Western and Central,AFW,-37334.0,-147514.0,-363932.0,-356637.0,-1006772.0,-1060093.0,-1102377.0,-299835.0,-536494.0,-852471.0,-1601832.0,-1022839.0
4,Angola,AGO,-296717.0,-587286.0,199800.0,199800.0,234148.0,188491.0,142812.0,199800.0,261100.0,357301.0,166267.0,32066.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,-3402.0,-6803.0,-14914.0,-18979.0,-18695.0,-19526.0,-13998.0,-17141.0,-15641.0,-15085.0,-12189.0,-14013.0
262,"Yemen, Rep.",YEM,-100000.0,-245662.0,-360993.0,-75000.0,-50000.0,-50000.0,607781.0,-100000.0,-112150.0,-65768.0,-75010.0,-150000.0
263,South Africa,ZAF,106550.0,199359.0,222659.0,73316.0,180998.0,-118001.0,852860.0,639902.0,788982.0,862221.0,919697.0,727026.0
264,Zambia,ZMB,-35328.0,-22042.0,-20000.0,-25000.0,10000.0,-75000.0,-150000.0,20000.0,-150000.0,-175000.0,-50000.0,-40000.0
265,Zimbabwe,ZWE,-15009.0,-42001.0,-45547.0,-152283.0,99068.0,84354.0,-298236.0,-524671.0,-697817.0,-512676.0,-622997.0,-584288.0