In [2]:
import pandas as pd

net_migration = pd.read_csv('net-migration-data.csv')
net_migration.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Net migration,SM.POP.NETM,NaN,NaN,-4323.0,NaN,NaN,NaN,...,NaN,1253.0,NaN,NaN,NaN,NaN,1004.0,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Net migration,SM.POP.NETM,NaN,NaN,-359577.0,NaN,NaN,NaN,...,NaN,-1411932.0,NaN,NaN,NaN,NaN,-791282.0,NaN,NaN,NaN
2,Afghanistan,AFG,Net migration,SM.POP.NETM,NaN,NaN,-20000.0,NaN,NaN,NaN,...,NaN,521769.0,NaN,NaN,NaN,NaN,-314602.0,NaN,NaN,NaN
3,Africa Western and Central,AFW,Net migration,SM.POP.NETM,NaN,NaN,-37334.0,NaN,NaN,NaN,...,NaN,-1601832.0,NaN,NaN,NaN,NaN,-1022839.0,NaN,NaN,NaN
4,Angola,AGO,Net migration,SM.POP.NETM,NaN,NaN,-296717.0,NaN,NaN,NaN,...,NaN,166267.0,NaN,NaN,NaN,NaN,32066.0,NaN,NaN,NaN

In [3]:
cleaner_migration = net_migration[['Country Name', 'Country Code', '1962', '1967', '1972', '1977', '1982', '1987', '1992', '1997', '2002', '2007', '2012', '2017']]
cleaner_migration.head()

,Country Name,Country Code,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007,2012,2017
0,Aruba,ABW,-4323.0,-4275.0,-3537.0,-5470.0,-1921.0,-5194.0,14218.0,6926.0,6263.0,-441.0,1253.0,1004.0
1,Africa Eastern and Southern,AFE,-359577.0,-335328.0,-200538.0,-231967.0,-503155.0,-147864.0,659027.0,-1213946.0,-953560.0,-1447652.0,-1411932.0,-791282.0
2,Afghanistan,AFG,-20000.0,-20000.0,-20000.0,-1153959.0,-3345095.0,-1525351.0,3076383.0,-867540.0,744193.0,-1046361.0,521769.0,-314602.0
3,Africa Western and Central,AFW,-37334.0,-147514.0,-363932.0,-356637.0,-1006772.0,-1060093.0,-1102377.0,-299835.0,-536494.0,-852471.0,-1601832.0,-1022839.0
4,Angola,AGO,-296717.0,-587286.0,199800.0,199800.0,234148.0,188491.0,142812.0,199800.0,261100.0,357301.0,166267.0,32066.0

In [4]:
#cleaner_migration.info()
cleaner_migration = cleaner_migration.dropna()
cleaner_migration

,Country Name,Country Code,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007,2012,2017
0,Aruba,ABW,-4323.0,-4275.0,-3537.0,-5470.0,-1921.0,-5194.0,14218.0,6926.0,6263.0,-441.0,1253.0,1004.0
1,Africa Eastern and Southern,AFE,-359577.0,-335328.0,-200538.0,-231967.0,-503155.0,-147864.0,659027.0,-1213946.0,-953560.0,-1447652.0,-1411932.0,-791282.0
2,Afghanistan,AFG,-20000.0,-20000.0,-20000.0,-1153959.0,-3345095.0,-1525351.0,3076383.0,-867540.0,744193.0,-1046361.0,521769.0,-314602.0
3,Africa Western and Central,AFW,-37334.0,-147514.0,-363932.0,-356637.0,-1006772.0,-1060093.0,-1102377.0,-299835.0,-536494.0,-852471.0,-1601832.0,-1022839.0
4,Angola,AGO,-296717.0,-587286.0,199800.0,199800.0,234148.0,188491.0,142812.0,199800.0,261100.0,357301.0,166267.0,32066.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,-3402.0,-6803.0,-14914.0,-18979.0,-18695.0,-19526.0,-13998.0,-17141.0,-15641.0,-15085.0,-12189.0,-14013.0
262,"Yemen, Rep.",YEM,-100000.0,-245662.0,-360993.0,-75000.0,-50000.0,-50000.0,607781.0,-100000.0,-112150.0,-65768.0,-75010.0,-150000.0
263,South Africa,ZAF,106550.0,199359.0,222659.0,73316.0,180998.0,-118001.0,852860.0,639902.0,788982.0,862221.0,919697.0,727026.0
264,Zambia,ZMB,-35328.0,-22042.0,-20000.0,-25000.0,10000.0,-75000.0,-150000.0,20000.0,-150000.0,-175000.0,-50000.0,-40000.0
265,Zimbabwe,ZWE,-15009.0,-42001.0,-45547.0,-152283.0,99068.0,84354.0,-298236.0,-524671.0,-697817.0,-512676.0,-622997.0,-584288.0

In [9]:
cleaner_migration.sort_values(by='1962').tail(15)

,Country Name,Country Code,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007,2012,2017
37,Switzerland,CHE,277152.0,92978.0,25185.0,-135365.0,81040.0,130857.0,247406.0,65218.0,186125.0,344872.0,397267.0,259999.0
13,Australia,AUS,384343.0,806193.0,259531.0,235744.0,453572.0,654209.0,351078.0,388419.0,589282.0,1210802.0,989375.0,791229.0
106,Indonesia,IDN,449965.0,556062.0,508276.0,378743.0,475080.0,261282.0,-35412.0,-67671.0,-1149655.0,-1333685.0,-454447.0,-494777.0
248,Ukraine,UKR,455769.0,268767.0,206203.0,104383.0,189092.0,0.0,74421.0,-462264.0,-165445.0,269541.0,132154.0,50001.0
55,Germany,DEU,669314.0,871265.0,701731.0,228894.0,23.0,1683737.0,2628459.0,715944.0,824445.0,43087.0,1938576.0,2719112.0
120,Kazakhstan,KAZ,694120.0,173343.0,-128101.0,-435262.0,-433268.0,-674287.0,-1439396.0,-1261512.0,44530.0,-35196.0,159807.0,-90000.0
68,Euro area,EMU,808797.0,148964.0,2037462.0,1608797.0,731227.0,2221744.0,4087715.0,2351361.0,7296329.0,4188448.0,3610240.0,4446572.0
73,European Union,EUU,873990.0,35679.0,1830393.0,1452547.0,314429.0,1640298.0,3259577.0,1621033.0,6853594.0,3767581.0,3377263.0,4281648.0
65,Europe & Central Asia,ECS,1223688.0,437456.0,1533438.0,1241642.0,571631.0,804777.0,1451064.0,274507.0,8256870.0,7925495.0,8361520.0,7894029.0
77,France,FRA,1417869.0,491613.0,543072.0,258429.0,291570.0,276383.0,122170.0,193631.0,926483.0,446120.0,423831.0,182636.0
251,United States,USA,1835728.0,1556054.0,2889346.0,3770881.0,3382460.0,3366853.0,4463754.0,8859954.0,5334893.0,5428756.0,4961716.0,4774029.0
170,North America,NAC,2014419.0,2167171.0,3647450.0,4191514.0,3756399.0,4226070.0,5154309.0,9643489.0,6386906.0,6755187.0,6203132.0,5984188.0
181,OECD members,OED,2785043.0,2535963.0,5012344.0,3946185.0,3018843.0,4746696.0,8572487.0,10934817.0,13661609.0,15034969.0,15012188.0,16430707.0
198,Post-demographic dividend,PST,3690159.0,3994590.0,6548071.0,6161566.0,5306758.0,7381111.0,10019730.0,12996283.0,15815417.0,16311822.0,14432469.0,13892345.0
95,High income,HIC,3985806.0,4273813.0,7286263.0,7394923.0,6745191.0,8494971.0,10812939.0,14016794.0,18650629.0,23370108.0,18276013.0,16158522.0